.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* コンテナが画面の高さ全体を使用する */
  text-align: center; /* テキストを中央揃えに */
}

.header {
  margin-bottom: 20px; /* ヘッダーの下の余白を調整 */
}

.game {
  background-image: url('./icon.png'); /* 背景画像 */
  background-size: cover; /* 画像のサイズ調整 */
  width: 150px; /* コンテナの幅 */
  height: 150px; /* コンテナの高さ */
  margin: 0 auto;
  margin-bottom: 40px;
}

.caption {
  font-size: x-small;
  margin-bottom: 0;
}

.cc {
  font-size: x-small;
  margin-bottom: 0;
}

.footer {
  margin-top: 20px;
  font-size: small;
  margin-bottom: 0;
}